.fullscreenDiv {
	background-color: #e8e8e8;
	width: 100%;
	height: auto;
	bottom: 0px;
	top: 0px;
	left: 0;
	position: absolute;
}
.center {
	position: absolute;
	width: 100px;
	height: 50px;
	top: 25%;
	left: 45%;
	margin-top: -25px;
	margin-left: -50px;
}

.single-line {
	clear: both;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
